@import "../../../../../../assets/sass/variables";

:host {
    font-size: 16px;
    margin-bottom: 16px;
    color: $black_54;
    md-icon {
        margin-right: 0px;
    }
    span {
        @include basic-transition;
    }
    .new {
        border-left: 1px solid $black_20;
        margin-left: 4px;
        padding-left: 8px;
    }
}

.changed :host {
    md-icon,
    span {
        color: $accent;
    }
}