<md-card>
    <md-card-title>Login</md-card-title>
    <form id="loginForm" #loginForm="ngForm" (ngSubmit)="onSubmit()" [class.submitted]="submitted">
        <md-card-content layout="column">
            <md-input name="email" [(ngModel)]="email" placeholder="Email address" type="email" required class="full-width">
            </md-input>
            <md-input name="password" [(ngModel)]="password" type="password" placeholder="Password" required class="full-width">
            </md-input>
        </md-card-content>
        <md-card-actions class="form-actions">
            <button type="submit" md-button align="right">
                <md-icon [hidden]="working">fingerprint</md-icon>
                <md-icon [hidden]="!working" class="spin">update</md-icon>
                Login
            </button>
        </md-card-actions>
    </form>
</md-card>