<span class="summary-image-loading" [hidden]="!loading">Loading...<md-icon class="spin">update</md-icon></span>
<div class="panel-content-pane-image" [hidden]="!_hasImage">
    <h4 [hidden]="!_hasImage">{{ label }}</h4>
    <div class="info" *ngIf="_hasImage">
        {{ image.filename }}<br />
        {{ imageWidth }}x{{ imageHeight }}px
    </div>
    <div class="image">
        <button md-button class="open" (click)="menu.open()"><md-icon>more_vert</md-icon></button>
        <img #img [src]="_imageUrl" />
    </div>
    <jpa-context-menu #menu>
        <button (click)="removeImage()">Remove</button>
    </jpa-context-menu>
</div>
<div *ngIf="hasOptions">
	<div class="chips">
	  <jpa-chip 
	  	*ngFor="let option of options; let index = index; let odd = odd; let even = even;" 
	  	[id]="option.id" 
	  	[removeEnabled]="false"
	  	[name]="option.name" 
	  	[class.even]="even" 
	  	[class.odd]="odd"
	  	[dragEnabled]="true"
	  	[dragData]="{option: option, index: index}"
	  	dnd-draggable>
	  </jpa-chip>
      <button md-icon-button class="add small" color="secondary" (click)="addToMultiSelect($event)">
          <md-icon>add</md-icon>
      </button>
	</div>
</div>
<ng-content></ng-content>