<div class="panel-summary">
    <div class="summary-text-wrapper" [hidden]="expanded">
        <span class="summary-text textfield" *ngIf="type !== 'image' && type !== 'gallery'">
            {{ summary | slice:0:50 }}
            <span class="summary-ellipsis" *ngIf="summary.length > 50">...</span>
        </span>
        <span class="summary-text imagefield" *ngIf="type === 'image'" [innerHTML]="summary"></span>
        <span class="summary-text gallery" *ngIf="type === 'gallery'">
          <div class="count">
            <md-icon color="primary">panorama</md-icon>&nbsp;&nbsp;{{ gallery?.length - value?.length }} pictures in gallery <span *ngIf="value" class="new"> + {{value.length}} new</span>
          </div>
        </span>
    </div>
    <div class="summary-text-wrapper" [hidden]="!(expanded || (empty && type !== 'image' && type !== 'gallery') || (type === 'gallery' && gallery.length === 0) || (type === 'image' && !currentImage))">
      <span class="summary-text edit-text">{{ editText }} <md-icon class="md-20">help_outline</md-icon></span>
    </div>
    <div class="summary-image" *ngIf="type === 'image' && currentImage && !valueChanged" [hidden]="expanded">
        <div class="summary-image-meta" *ngIf="type === 'image' && currentImage">
            <span class="summary-image-name" [hidden]="!_currentImageName">{{ _currentImageName }}</span>
            <span class="summary-image-size" *ngIf="_currentImageSize">{{ _currentImageSize.w }} x {{ _currentImageSize.h }} px</span>
        </div>
        <span class="summary-image-loading" [hidden]="imageLoaded">Loading...<md-icon class="spin">update</md-icon></span>
        <img [src]="currentImage" class="image-preview" #imagePreview />
    </div>
</div>