/**
 * Styling largely lifted wholesale from angular-material dialog
 */

:host {
    opacity: 1;
    background: white;
    min-width: 320px;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    overflow: auto;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 83;
    padding: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 4px;
    .jpa-modal-title {
        margin-top: 0;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: .005em;
        line-height: 3.2rem;
        margin-bottom: 1rem;
    }
    .jpa-modal-content {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 16px 24px 12px;
        .jpa-modal-content-body {
            width: 100%;
            p {
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: 0.010em;
                line-height: 1.6em;
                margin: 0.8em 0 1.6em;
            }
        }
        &.alert {
            margin-bottom: 0;
            border: none;
        }
    }
    .jpa-modal-actions {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        box-sizing: border-box;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-bottom: 0;
        padding: 0;
        min-height: 52px;
        overflow: hidden;
        .ok {
            .md-button-wrapper {
                color: $accent;
            }
        }
        .md-button-wrapper {
            text-transform: uppercase;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        .modal-form-col {
            md-input {
                width: 100%;
            }
        }
        &.update {
            .modal-form-col.name-image_remove {
                display: none;
            }
        }
        &.update.has-image {
            .modal-form-col.name-image_remove {
                display: block;
            }
        }
    }

    &.form {
        .jpa-modal-actions {
            padding: 24px 0 0;
        }
    }
}