<div class="md-select-wrapper">
  <div class="md-select-table">
    <div class="md-select-infix">
      <select #select
             aria-target
             class="md-select-element"
             [class.md-end]="align == 'end'"
             [attr.aria-label]="ariaLabel"
             [attr.aria-labelledby]="ariaLabelledBy"
             [attr.aria-disabled]="ariaDisabled"
             [attr.aria-required]="ariaRequired"
             [attr.aria-invalid]="ariaInvalid"
             [autofocus]="autoFocus"
             [disabled]="disabled"
             [id]="inputId"
             [attr.list]="list"
             [required]="required"
             [attr.step]="step"
             [attr.tabindex]="tabIndex"
             [attr.name]="name"
             (focus)="handleFocus($event)"
             (blur)="handleBlur($event)"
             [(ngModel)]="value"
             (change)="handleChange($event)">
             <ng-content select="option"></ng-content>
     </select>

      <label class="md-select-placeholder"
             [attr.for]="inputId"
             [class.md-empty]="empty"
             [class.md-focused]="focused"
             [class.md-float]="floatingPlaceholder"
             [class.md-accent]="dividerColor == 'accent'"
             [class.md-warn]="dividerColor == 'warn'"
             *ngIf="hasPlaceholder()">
        <ng-content select="md-placeholder"></ng-content>
        {{placeholder}}
        <span class="md-placeholder-required" *ngIf="required">*</span>
      </label>
    </div>
  </div>

  <div class="md-select-underline"
       [class.md-disabled]="disabled">
    <span class="md-select-ripple"
          [class.md-focused]="focused"
          [class.md-accent]="dividerColor == 'accent'"
          [class.md-warn]="dividerColor == 'warn'"></span>
  </div>

  <div *ngIf="hintLabel != ''" class="md-hint">{{hintLabel}}</div>
  <ng-content select="md-hint"></ng-content>
</div>
