@import "bootstrap-sass/assets/stylesheets/bootstrap";

/**
| Base
|
**/
html, body {
  height: 100%;
  position: relative;
  min-height: 100%;
}

body {
  background-color: $background_color;
  color: $text-color;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
}

body, md-list, md-list-item, md-line, md-button, md-content, md-card, md-input-container,
h1, h2, h3, h4, h5, p, div, p {
  font-family: $font-family-sans-serif;
  letter-spacing: -0.25px;
}

a:hover, a:focus {
  // color: $accent;
  text-decoration: none;
}

/**
| Colors (Basic)
**/
.brown {
  color: $brown_500;
}
.dark-red {
  color: $red_900;
}
.dark-blue {
  color: $dark_blue;
}

/**
 * Material UI colors
 */
.md-primary:not(md-icon) {
  background-color: $primary !important;
}
md-icon.md-primary {
  color: $primary;
}

.md-accent:not(md-icon) {
  background-color: $accent !important;
  color: $white !important;
}
md-icon.md-accent {
  color: $accent;
}

.md-secondary:not(md-icon),
.md-secondary[md-raised-button],
.md-secondary[md-fab],
.md-secondary[md-mini-fab],
.md-secondary[md-icon-button] {
  background-color: $secondary;
  color: $white;
}

md-icon.md-secondary {
  color: $secondary
}

.md-danger:not(md-icon),
.md-danger[md-raised-button],
.md-danger[md-fab],
.md-danger[md-mini-fab],
.md-danger[md-icon-button] {
  background-color: $danger;
  color: $white;
}
md-icon.md-danger {
  color: $danger
}
.md-warn:not(md-icon),
.md-warn[md-raised-button],
.md-warn[md-fab],
.md-warn[md-mini-fab],
.md-warn[md-icon-button] {
  background-color: $danger;
  color: $white;
}
md-icon.md-warn {
  color: $yellow_500;
}


/**
| Titles
|
**/
h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5 {
  &.light {
    color: $black_54;
  }
}

.page-title {
  font-size: 48px;
  font-family: $font-family-roboto;
}

/**
| Buttons, Icons
|
**/
button[md-button],
button[md-raised-button] {
  md-icon {
    vertical-align: middle;
  }
}

[md-icon-button].danger {
  md-icon {
    color: $danger;
  }
}

md-icon-button,
[md-icon-button] {
  &:not(.small),
  &:not(.nofocus) {
    &:active, &:focus {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  &.md-24 {
    @extend .md-24;

    md-icon {
      @extend .md-24;
    }
  }
}

md-icon.spin {
  animation: fa-spin 2s infinite linear;
  -webkit-animation: fa-spin 2s infinite linear;
}
/**
 * Icon and button sizes
 */
.md-14 {
  font-size: 14px;
  width: 14px;
  height: 14px;
}
.md-16 {
  font-size: 16px;
  height: 16px;
  width: 16px;
}
.md-18 {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.md-20 {
  font-size: 20px;
  width: 20px;
  height: 20px;
}
.md-22 {
  font-size: 22px;
  width: 22px;
  height: 22px;
}

.md-24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.md-32 {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.md-36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.md-42 {
  font-size: 42px;
  width: 42px;
  height: 42px;
}

.md-48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

md-icon {
  &.md-14 {
    @extend .md-14;
  }

  &.md-16 {
    @extend .md-16;
  }

  &.md-18 {
    @extend .md-18;
  }

  &.md-20 {
    @extend .md-20;
  }

  &.md-22 {
    @extend .md-22;
  }

  &.md-24 {
    @extend .md-24;
  }

  &.md-32 {
    @extend .md-32;
  }

  &.md-36 {
    @extend .md-36;
  }

  &.md-42 {
    @extend .md-42;
  }

  &.md-48 {
    @extend .md-48;
  }
}

/**
| Flex
|
**/
.flex {
  flex: 1;
}

.filler {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

.layout-align-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.layout-align-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.layout-align-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.layout-align-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.layout-align-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/**
| Forms
|
**/
.form-title {
  margin-bottom: 25px;
  padding-bottom: 7px;
}

form {
  .row.form-group {
    margin-bottom: 20px;
  }

  textarea {
    min-height: 125px;
  }

  .upload-label {
    margin-top: 2em;
  }

  .form-actions {
    /* border-top: 1px solid #eee;
    padding-top: 2em;
    margin-top: 1em; */
    text-align: right;
  }
}

md-input {
  .md-input-placeholder.md-focused {
    color: $primary !important;
  }

  .md-input-underline .md-input-ripple {
    background-color: $primary !important;
  }
}

md-input.ng-invalid.ng-touched {
  .md-input-placeholder.md-focused {
    color: $danger !important;
  }

  .md-input-underline {
    .md-input-ripple {
      background-color: $danger !important;
    }

    border-color: $danger !important;
  }
}

.md-input-placeholder.md-float:not(.md-empty) .md-placeholder-required,
.md-input-placeholder.md-float.md-focused .md-placeholder-required {
  color: $danger !important;
}

/**
| Style classes
|
**/
.icon-and-detail {
  @extend .layout-row;
  margin-bottom: 16px;

  .icon-wrapper {
    @extend .layout-column;
    @extend .layout-align-center;
    min-width: 48px;
  }
  .detail-title-row {
    font-size: 15px;
    color: $black_88;
    @extend .layout-row;
  }
  .detail-subtitle-row {
    font-size: 13px;
    color: $black_54;
    @extend .layout-row;
  }
}

.text-ellipsis {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.with-actions {
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  .shade {
    background: $black_26;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 11px;
    z-index: 4;
  }
  .actions,
  .shade {
    transition: opacity $transition_duration $transition_ease;
    will-change: opacity;
    opacity: 0;
    color: rgba(255, 255, 255, 0.875);
  }
  &:hover {
    .actions,.shade {
      opacity: 1;
    }
  }
}