/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/**
 * Palette
 */
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Animations & Transitions
 */
/**
 * Transition mixins
 */
/**
 * Icon and button sizes
 */
.md-14 {
  font-size: 14px;
  width: 14px;
  height: 14px; }

.md-16 {
  font-size: 16px;
  height: 16px;
  width: 16px; }

.md-18 {
  font-size: 18px;
  width: 18px;
  height: 18px; }

.md-20 {
  font-size: 20px;
  width: 20px;
  height: 20px; }

.md-22 {
  font-size: 22px;
  width: 22px;
  height: 22px; }

.md-24 {
  font-size: 24px;
  width: 24px;
  height: 24px; }

.md-32 {
  font-size: 32px;
  width: 32px;
  height: 32px; }

/**
 * Styling largely lifted wholesale from angular-material dialog
 */
:host {
  opacity: 1;
  background: white;
  min-width: 320px;
  max-width: 80%;
  max-height: 80%;
  position: relative;
  overflow: auto;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 83;
  padding: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 4px; }
  :host .jpa-modal-title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .005em;
    line-height: 3.2rem;
    margin-bottom: 1rem; }
  :host .jpa-modal-content {
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 16px 24px 12px; }
    :host .jpa-modal-content .jpa-modal-content-body {
      width: 100%; }
      :host .jpa-modal-content .jpa-modal-content-body p {
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.010em;
        line-height: 1.6em;
        margin: 0.8em 0 1.6em; }
    :host .jpa-modal-content.alert {
      margin-bottom: 0;
      border: none; }
  :host .jpa-modal-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 2;
    order: 2;
    box-sizing: border-box;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 0;
    padding: 0;
    min-height: 52px;
    overflow: hidden; }
    :host .jpa-modal-actions .ok .md-button-wrapper {
      color: #1976d2; }
    :host .jpa-modal-actions .md-button-wrapper {
      text-transform: uppercase; }
  :host form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
    :host form .modal-form-col md-input {
      width: 100%; }
    :host form.update .modal-form-col.name-image_remove {
      display: none; }
    :host form.update.has-image .modal-form-col.name-image_remove {
      display: block; }
  :host.form .jpa-modal-actions {
    padding: 24px 0 0; }

/*# sourceMappingURL=modal.css.map */
