<md-sidenav-layout fullscreen>
    <md-sidenav #sidenav mode="side" class="app-sidenav">
        <md-nav-list>
          <a md-list-item [routerLink]="['blogs']">
            <md-icon md-list-icon>view_headline</md-icon>
            <span md-line>Blogs</span>
            <span md-line class="secondary">Edit the blog content</span>
          </a>
        </md-nav-list>
        <md-nav-list>
          <a md-list-item [routerLink]="['work']">
            <md-icon md-list-icon>work</md-icon>
            <span md-line>Work</span>
            <span md-line class="secondary">Edit the work content</span>
          </a>
        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
          </button>

          JP API Administration

          <span class="app-toolbar-filler"></span>
    </md-toolbar>

    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-layout>