@import 'sass-material-colors/sass/sass-material-colors';

/**
 * Palette
 */
$white: #fff;
$black: #000;
$dark_blue: #0262C2;
$black_14: rgba(0,0,0,0.14);
$black_20: rgba(0,0,0,0.20);
$black_26: rgba(0,0,0,0.26);
$black_54: rgba(0,0,0,0.54);
$black_88: rgba(0,0,0,0.8705);

$grey_50: material-color('grey', '50');
$grey_100: material-color('grey', '100');
$grey_200: material-color('grey', '200');
$grey_300: material-color('grey', '300');
$grey_400: material-color('grey', '400');
$grey_500: material-color('grey', '500');
$grey_600: material-color('grey', '600');
$grey_700: material-color('grey', '700');
$grey_800: material-color('grey', '800');
$grey_900: material-color('grey', '900');

$brown_50: material-color('brown', '50');
$brown_100: material-color('brown', '100');
$brown_200: material-color('brown', '200');
$brown_300: material-color('brown', '300');
$brown_400: material-color('brown', '400');
$brown_500: material-color('brown', '500');
$brown_600: material-color('brown', '600');
$brown_700: material-color('brown', '700');
$brown_800: material-color('brown', '800');
$brown_900: material-color('brown', '900');

$blue_50: material-color('blue', '50');
$blue_100: material-color('blue', '100');
$blue_200: material-color('blue', '200');
$blue_300: material-color('blue', '300');
$blue_400: material-color('blue', '400');
$blue_500: material-color('blue', '500');
$blue_600: material-color('blue', '600');
$blue_700: material-color('blue', '700');
$blue_800: material-color('blue', '800');
$blue_900: material-color('blue', '900');

$red_500: material-color('red', '500');
$red_900: material-color('red', '900');
$yellow_500: material-color('yellow', '500');
$bluegrey_100: material-color('blue-grey', '100');
$bluegrey_600: material-color('blue-grey', '600');
$lightgreen_600: material-color('light-green', '600');

/**
 * Colors
 */
$primary: $bluegrey_600;
$secondary: $lightgreen_600;
$accent: $blue_700;
$danger: $red_500;
$warn: $yellow_500;
$background_color: #fff;
$text-color: #212121;

/**
 * Fonts
 */
$font-family-lato: Lato,Helvetica,Arial,sans-serif;
$font-family-roboto: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

$font-family-sans-serif: $font-family-roboto;
/**
 * Animations & Transitions
 */
$transition_duration: 250ms;
$transition_ease: cubic-bezier(.75,.17,.59,1.09);

/**
 * Transition mixins
 */

@mixin basic-transition {
    transition: all $transition_duration $transition_ease;
}

@mixin basic-boxshadow($depth: 3) {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;

    @if ($depth == 3) {
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    }
}
