<div class="count">
  <md-icon color="primary">panorama</md-icon>
  <span>{{ _count }} pictures in gallery</span>
  <span class="new">{{value.length}} in queue</span>
</div>
<div class="progress-bar-wrapper" [hidden]="!isLoading">
  <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
</div>
<div #dropzone
  class="well file-drop-zone"
  [class.file-over]="isDragOver"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onFileDrop($event)">
  <md-grid-list [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize" *ngIf="multiple">
      <md-grid-tile *ngFor="let image of images; let index = index" flex="25">
        <jpa-grid-image
          [imageConfig]="image"
          [index]="index"
          (imageLoaded)="handleImageLoaded($event)"
          (clickedRemove)="handleClickedRemove($event)">
        </jpa-grid-image>
      </md-grid-tile>
      <md-grid-tile *ngIf="images.length % 4 !== 1" flex="25"></md-grid-tile>
  </md-grid-list>
</div>