@import "../../../../assets/sass/variables";

:host {
    display: block;

    .file-drop-zone {
        border: dotted 3px $bluegrey_100;
        transition: all $transition_duration linear;
        position: relative;
    }

    .file-over {
        border: dotted 3px $accent;
    }

    .progress-bar-wrapper {
        // position: relative;
        // top: -10px;
    }
    .count {
        font-size: 16px;
        margin-bottom: 16px;
        color: $black_54;
        md-icon {
            vertical-align: bottom;
            margin-right: 4px;
        }
        .new {
            color: $accent;
            border-left: 1px solid $black_20;
            margin-left: 4px;
            padding-left: 8px;
        }
    }
    .hidden {
        display: none;
    }

    .info {
        font-size: 12px;
        color: $black_54;
    }
    md-grid-list {
        z-index: 5;
    }
}