$font-family-sans-serif: 'Lato', sans-serif;

//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/sass-material-colors/sass/sass-material-colors';


body, md-list, md-list-item, md-line, md-button, md-content, md-card, md-input-container,
h1,h2,h3,h4,h5,p,div,p {
    font-family: $font-family-sans-serif;
}


/**
| Colors
|-
|
**/

.md-primary {
    background-color: material-color('blue-grey', '600')!important;
}
.md-accent {
    background-color: material-color('red', '500')!important;
    color: #fff!important;
}
.md-secondary[md-raised-button],
.md-secondary[md-button],
.md-secondary[md-fab],
.md-secondary[md-mini-fab] {
    background-color: material-color('light-green', '600');
    color: #fff;
}

.md-danger[md-raised-button],
.md-danger[md-button],
.md-danger[md-fab],
.md-danger[md-mini-fab] {
    background-color: material-color('red', '900');
    color: #fff;
}

/**
| Titles
|
**/
h1,h2,h3,h4,h5 {
    font-weight: normal;
}

/**
| Flex
|-
|
**/
[flex="20"] {
    width: 20%;
    display: flex;
    max-width: 20%;
}
[flex="30"] {
    width: 30%;
    display: flex;
    max-width: 30%;
}
[flex="40"] {
    width: 40%;
    display: flex;
    max-width: 40%;
}
[flex="50"] {
    width: 50%;
    display: flex;
    max-width: 50%;
}
[flex="60"] {
    width: 60%;
    display: flex;
    max-width: 60%;
}
[flex="70"] {
    width: 70%;
    display: flex;
    max-width: 70%;
}
[flex="80"] {
    width: 80%;
    display: flex;
    max-width: 80%;
}

[layout="row"],
.layout-row {
    flex-direction: row;
}
[layout="column"],
.layout-column {
    flex-direction: column;
}
.layout-align-center-center,
.layout-align-end-center,
[layout-align="end center"],
.layout-align-space-around-center,
.layout-align-space-between-center,
.layout-align-start-center {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	max-width: 100%;
}

.layout-align-end,
.layout-align-end-center,
[layout-align="end center"],
.layout-align-end-end,
.layout-align-end-start,
.layout-align-end-stretch {
	-webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
