@import 'node_modules/sass-material-colors/sass/sass-material-colors';

/**
 * Palette
 */
$white: #fff;
$black: #000;
$black_20: rgba(0,0,0,0.20);
$black_54: rgba(0,0,0,0.54);
$grey_200: material-color('grey', '200');
$grey_100: material-color('grey', '100');
$grey_50: material-color('grey', '50');
$blue_700: material-color('blue', '700');
$red_500: material-color('red', '500');
$red_900: material-color('red', '900');
$bluegrey_100: material-color('blue-grey', '100');
$bluegrey_600: material-color('blue-grey', '600');
$lightgreen_600: material-color('light-green', '600');

/**
 * Colors
 */
$primary: $bluegrey_600;
$secondary: $lightgreen_600;
$accent: $blue_700;
$danger: $red_500;
$background_color: #fff;
$text-color: #212121;

/**
 * Fonts
 */
$font-family-lato: Lato,Helvetica,Arial,sans-serif;
$font-family-roboto: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

$font-family-sans-serif: $font-family-roboto;
/**
 * Animations & Transitions
 */
$transition_duration: 250ms;
$transition_ease: cubic-bezier(.75,.17,.59,1.09);

/**
 * Transition mixins
 */

@mixin basic-transition {
    transition: all $transition_duration $transition_ease;
}

@mixin basic-boxshadow($depth: 3) {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;

    @if ($depth == 3) {
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    }
}