@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

/* Reveal */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }

.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098d1;
  border-style: solid;
  border-width: 0;
  transition-property: border-width;
  transition-duration: 0.1s;
  transition-timing-function: ease-out; }

.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  transform: translateY(0);
  border-width: 4px; }

/* Hang */

@keyframes hvr-hang {
  0% {
    transform: translateY(8px); }
  50% {
    transform: translateY(4px); }
  100% {
    transform: translateY(8px); } }

@keyframes hvr-hang-sink {
  100% {
    transform: translateY(8px); } }

.hvr-hang, :host md-grid-list md-grid-tile.dnd-drag-over figure {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-hang:hover, :host md-grid-list md-grid-tile.dnd-drag-over figure:hover, .hvr-hang:focus, :host md-grid-list md-grid-tile.dnd-drag-over figure:focus, .hvr-hang:active, :host md-grid-list md-grid-tile.dnd-drag-over figure:active {
  animation-name: hvr-hang-sink, hvr-hang;
  animation-duration: .3s, 1.5s;
  animation-delay: 0s, .3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/**
 * Palette
 */
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Animations & Transitions
 */
/**
 * Transition mixins
 */
:host {
  display: block; }
  :host .file-drop-zone-wrapper {
    border: dotted 3px #cfd8dc;
    transition: all 250ms linear;
    position: relative; }
    :host .file-drop-zone-wrapper .file-drop-zone {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1; }
  :host .file-over {
    border: dotted 3px #1976d2; }
  :host .hidden {
    display: none; }
  :host .info {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54); }
  :host md-grid-list {
    z-index: 5; }
    :host md-grid-list md-grid-tile {
      z-index: 5;
      transition: all 250ms cubic-bezier(0.75, 0.17, 0.59, 1.09); }
      :host md-grid-list md-grid-tile.dnd-drag-over figure {
        animation-name: hvr-hang-sink, hvr-hang;
        animation-duration: .3s, 1.5s;
        animation-delay: 0s, .3s;
        animation-timing-function: ease-out, ease-in-out;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards;
        animation-direction: normal, alternate; }
  :host .drop-zone-rows {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 4; }
    :host .drop-zone-rows[hidden] {
      display: none; }
    :host .drop-zone-rows .drop-zone-row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex: 1;
      flex: 1; }

/*# sourceMappingURL=image-upload.component.css.map */
