<div class="progress-bar-wrapper" [hidden]="!isLoading">
  <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
</div>
<div class="well file-drop-zone-wrapper" [class.file-over]="isDragOver" *ngIf="multiple">
  <div class="file-drop-zone"
    (dragover)="onDragOver($event)"
    (dragend)="onDragEnd($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="add($event)">
  </div>
  <md-grid-list [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize" (dragend)="onDragEnd($event)">
      <md-grid-tile *ngFor="let image of value; let index = index"
        dnd-droppable
        [dropEnabled]="true"
        (onDropSuccess)="reorder($event, index)">
        <jpa-grid-image
          dnd-draggable
          [dragEnabled]="true"
          [dragData]="index"
          (onDragStart)="fileDragStart($event)"
          [imageConfig]="image"
          [index]="index"
          (imageLoaded)="gridImageLoaded($event)"
          (clickedRemove)="handleClickedRemove($event)">
        </jpa-grid-image>
      </md-grid-tile>
      <!-- <md-grid-tile *ngIf="value.length % 4 !== 1" flex="25"></md-grid-tile> -->
  </md-grid-list>
</div>
<div class="single-file-wrapper" *ngIf="!multiple">
    <div class="single-file-container has-value" [hidden]="empty">
      <div class="viewport">
        <div class="viewport-inner" [ngSwitch]="type">
          <template [ngSwitchCase]="'image'">
            <img #currentImage class="current-image" />
          </template>
          <template ngSwitchDefault>
            <div class="file-wrapper">
              <jpa-file-icon [file]="value"></jpa-file-icon> {{ value.filename }}
            </div>
          </template>
        </div>
      </div>
      <jpa-file-upload-toolbar
        *ngIf="!multiple && !empty"
        [type]="type"
        [icon]="icon"
        class="side-toolbar"
        [file]="value"
        (onRemoveFile)="remove($event)"
        (onReplaceFile)="replace($event)">
      </jpa-file-upload-toolbar>
    </div>
    <div class="single-file-container empty-value" *ngIf="empty">
      <div class="spacer"></div>
      <input type="file" [accept]="accept" [(ngModel)]="new_file" name="new_file" #fileInput (change)="handleSingleFileAttach($event)" />
    </div>
</div>