<md-toolbar layout="row" layout-padding class="list-toolbar">
    <h2 class="list-title">Clients</h2>
    <button md-icon-button (click)="add($event)" class="menu-btn" jpaTooltip tooltip="Create"><md-icon>add</md-icon></button>
</md-toolbar>
<md-grid-list cols="6" rowHeight="150px" gutterSize="8px">
    <md-grid-tile *ngFor="let client of clients" [class.featured]="client.featured" class="with-actions">
        <div class="actions">
          <jpa-context-menu #menu>
              <jpa-context-menu-item>
                  <button md-button (click)="edit(client)"><md-icon>mode_edit</md-icon>Edit</button>
              </jpa-context-menu-item>
              <jpa-context-menu-item>
                  <button md-button (click)="remove(client)"><md-icon>delete</md-icon>Delete</button>
              </jpa-context-menu-item>
          </jpa-context-menu>
          <button class="item-actions" md-icon-button jpaTooltip tooltip="Manage" (click)="menu.open($event)"><md-icon>more_vert</md-icon></button>
        </div>
        <img *ngIf="client.image_id" [src]="client.image.url" [title]="client.name" />
        <h4 [hidden]="client.image_id" class="client-name">{{ client.name }}</h4>
        <p>{{ client.projects.length }} Projects</p>
    </md-grid-tile>
</md-grid-list>