:host /deep/ {
	background: $grey_200;
	border-radius: 20px;
	display: inline-block;
	padding: 5px 16px;
	color: $text-color;
	button,
	[md-icon-button] {
		margin-left: 4px;
		width: 16px;
		height: 16px;
		line-height: 16px;
		background: $grey_600;
		color: #fff;
		md-icon {
			line-height: 12px;
		}
	}
}