<div class="container-fluid">
    <h2 class="form-title">Home</h2>
    <div class="layout-row layout-align-center">
        <md-card *ngIf="blog_data">
            <md-card-title-group>
                <md-card-title>Blogs</md-card-title>
                <md-card-subtitle>{{ blog_data.count }} blogs</md-card-subtitle>
            </md-card-title-group>
            <md-card-content>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon>label_outline</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Tag most used
                        </div>
                        <div class="detail-subtitle-row">
                            {{ blog_data.most_used_tag }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="brown">business</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Division most used
                        </div>
                        <div class="detail-subtitle-row">
                            {{ blog_data.most_used_division }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="md-secondary">event</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Most recent update
                        </div>
                        <div class="detail-subtitle-row" *ngIf="blog_data">
                            {{ (blog_data.update | amFromUnix) | amCalendar }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="md-accent">fiber_new</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Newest blog
                        </div>
                        <div class="detail-subtitle-row">
                            {{ blog_data.newest?.title }}
                        </div>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions>
                <a md-button [routerLink]="['/blogs']">View All</a>
                <a md-button *ngIf="blog_data.newest" [routerLink]="['/blogs', blog_data.newest.id]">Edit Newest</a>
            </md-card-actions>
        </md-card>

        <md-card *ngIf="project_data">
            <md-card-title-group>
                <md-card-title>Projects</md-card-title>
                <md-card-subtitle>{{ project_data.count }} projects</md-card-subtitle>
            </md-card-title-group>
            <md-card-content>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon>panorama</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            images
                        </div>
                        <div class="detail-subtitle-row">
                            {{ project_data.images }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="brown">store</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Client most used
                        </div>
                        <div class="detail-subtitle-row">
                            {{ project_data.most_used_client }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="md-secondary">event</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Recent update
                        </div>
                        <div class="detail-subtitle-row" *ngIf="project_data.update">
                            {{ (project_data.update | amFromUnix) | amCalendar }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="md-accent">fiber_new</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Newest project
                        </div>
                        <div class="detail-subtitle-row">
                            {{ project_data.newest?.title }}
                        </div>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions>
                <a md-button [routerLink]="['/projects']">View All</a>
                <a md-button *ngIf="project_data.newest" [routerLink]="['/projects', project_data.newest.id]">Edit Newest</a>
            </md-card-actions>
        </md-card>

        <md-card *ngIf="client_data">
            <md-card-title-group>
                <md-card-title>Clients</md-card-title>
                <md-card-subtitle>{{ client_data.count }} clients</md-card-subtitle>
            </md-card-title-group>
            <md-card-content>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon>panorama</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Images
                        </div>
                        <div class="detail-subtitle-row">
                            {{ client_data.images }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="md-warn">star</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Featured
                        </div>
                        <div class="detail-subtitle-row">
                            {{ client_data.featured }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="md-secondary">event</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Recent update
                        </div>
                        <div class="detail-subtitle-row" *ngIf="client_data.update">
                            {{ (client_data.update | amFromUnix) | amCalendar }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="md-accent">fiber_new</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Newest client
                        </div>
                        <div class="detail-subtitle-row">
                            {{ client_data.newest?.name }}
                        </div>
                    </div>
                </div>
            </md-card-content>
            <span class="filler"></span>
            <md-card-actions>
                <a md-button [routerLink]="['/clients']">View All</a>
                <!--<a md-button *ngIf="client_data.newest" [routerLink]="['/clients', client_data.newest.id]">Edit Newest</a>-->
            </md-card-actions>
        </md-card>

        <md-card *ngIf="division_data">
            <md-card-title-group>
                <md-card-title>Divisions</md-card-title>
                <md-card-subtitle>{{ division_data.count }} divisions</md-card-subtitle>
            </md-card-title-group>
            <md-card-content>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon>speaker_notes</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Most used in blogs
                        </div>
                        <div class="detail-subtitle-row">
                            {{ division_data.blogs_most }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="brown">work</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Most used in projects
                        </div>
                        <div class="detail-subtitle-row">
                            {{ division_data.projects_most }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="md-secondary">event</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Recent update
                        </div>
                        <div class="detail-subtitle-row">
                            {{ (division_data.update | amFromUnix) | amCalendar }}
                        </div>
                    </div>
                </div>
                <div class="icon-and-detail">
                    <div class="icon-wrapper">
                        <md-icon class="md-accent">fiber_new</md-icon>
                    </div>
                    <div class="detail">
                        <div class="detail-title-row">
                            Newest division
                        </div>
                        <div class="detail-subtitle-row">
                           {{ division_data.newest?.name }}
                        </div>
                    </div>
                </div>
            </md-card-content>
            <span class="filler"></span>
            <md-card-actions>
                <a md-button [routerLink]="['/divisions']">View All</a>
                <a md-button *ngIf="division_data.newest" [routerLink]="['/divisions', division_data.newest.id]">Edit Newest</a>
            </md-card-actions>
        </md-card>

    </div>
</div>