@import "../../../../../assets/sass/variables";

:host {
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 4px solid $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include basic-boxshadow(3);
	.shade {
		transition: all $transition_duration $transition_ease;
		display: block;
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
    .new {
    }
    .remove {
    	position: absolute;
    	top: 10px;
    	left: 10px;
    	md-icon {
    		color: $white;
    	}
    	cursor: pointer;
    }
    &:hover {
    	.shade {
    		background: rgba(0,0,0,0.5);
    	}
    }
    img {
        max-width: 100%;
    }
}