<!-- <button (click)="report($event)">report</button> -->
<div class="panel-summary-wrapper" [ngSwitch]="empty">
    <div class="panel-summary" *ngSwitchCase="true">
        <div [hidden]="currentImage && !expanded">
            <div class="summary-text-wrapper {{type}}" [ngSwitch]="type">
                <span class="summary-text edit-text" *ngSwitchCase="'images'">
                    <jpa-panel-summary-images [old]="_imagesCount" [queue]="_imagesQueueCount"></jpa-panel-summary-images>
                </span>
                <span class="summary-text edit-text" *ngSwitchDefault>{{ editText }} <md-icon class="md-18">help_outline</md-icon></span>
            </div>
        </div>
        <jpa-panel-summary-image *ngIf="_hasImage" [image]="currentImage" [hidden]="expanded"></jpa-panel-summary-image>
    </div>
    <div class="panel-summary" *ngSwitchDefault>
        <div class="panel-summary-inner" [ngSwitch]="expanded">
            <div *ngSwitchCase="true">
                <div class="summary-text-wrapper {{type}}" [ngSwitch]="type">
                    <span class="summary-text edit-text" *ngSwitchCase="'images'">
                        <jpa-panel-summary-images [old]="_imagesCount" [queue]="_imagesQueueCount"></jpa-panel-summary-images>
                    </span>
                    <span class="summary-text edit-text" *ngSwitchDefault>{{ editText }} <md-icon class="md-18">help_outline</md-icon></span>
                </div>
            </div>
            <div *ngSwitchDefault>
                <div class="summary-text-wrapper {{type}}" [ngSwitch]="type">
                    <span *ngSwitchCase="'image'" class="summary-text">
                        {{ summary }}
                    </span>
                    <span *ngSwitchCase="'multiselect'" class="summary-text comma-list">
                        <span class="comma-list-item" *ngFor="let value of summary">{{ value.name }}</span>
                    </span>
                    <span class="summary-text" *ngSwitchCase="'images'">
                        <jpa-panel-summary-images [old]="_imagesCount" [queue]="_imagesQueueCount"></jpa-panel-summary-images>
                    </span>
                    <span class="summary-text" *ngSwitchCase="'textarea'">
                        {{ summary.length }} characters
                    </span>
                    <span *ngSwitchDefault class="summary-text">{{ summary }}</span>
                </div>
            </div>
        </div>
    </div>
</div>