@import "../../../../../assets/sass/variables";

:host {
	display: block;
	max-width: 25%;
    .toolbar-container {
    	display: flex;
    	justify-content: space-between;
    	flex-direction: column;
    	width: 100%;
    	padding-left: 32px;
    	padding-right: 16px;
    }

    .toolbar-row {
    	display: flex;
    	flex-direction: row;
    	padding: 14px 0;
    	margin: 0;
		min-height: 36px;
    	.icon-wrapper {
    		min-width: 64px;
    		width: 64px;
    		display: flex;
    		flex-direction: column;
    		justify-content: center;
    		md-icon {
    			color: $black_54;
    		}
    	}
    	.detail {
    		flex: 1 1 auto;
    		display: flex;
    		flex-direction: column;
    		width: calc(100% - 64px);
    		.detail-title-row {
    			font-size: 15px;
    			color: $black_88;
    			overflow: hidden;
			    text-overflow: ellipsis;
    		}
    		.detail-subtitle-row {
    			font-size: 13px;
    			color: $black_54;
    		}
    	}
    }

    .image-description {
    	padding: 20px 0;
    	.md-input-wrapper {
    		margin: 2.5px 0;
    	}
    	.md-input-underline {
    		border-color: transparent;
    	}
    	.md-input-placeholder {
    	}
    }
    .toolbar-hr {
    	margin-left: -32px;
    	margin-right: -32px;
    	height: 1px;
    	background: $black_26;
    }
    .details {
    	padding: 14px 0px;
    	margin: 0;
    }

    .toolbar-heading {
    	margin-top: 0;
    }

    md-toolbar {
        width: calc(100% + 16px);
        height: 40px;
        min-height: 40px;
        flex-direction: row;
        margin-bottom: 16px;
        .md-toolbar-layout {
        	width: 100%;
        	md-toolbar-row {
        		min-height: 40px;
        		height: 40px;
        	}
        }
        button {
            color: $black_54;
            md-icon {
                vertical-align: bottom;
            }
        }
    }

    .new-file {
    	display: none;
    }

    .mimetype {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 75%;
    }
}