<md-content class="md-whiteframe-6dp">
	<md-toolbar class="transparent" layout="row" layout-padding>
	  <div layout="row" layout-align="start center" flex="50">
	    <div class="md-title">Showing {{ from }} - {{ to }} of {{ total }} blogs</div>
	    <button md-raised-button color="primary">
	      <md-icon>add</md-icon>
	      Create new Blog
	    </button>
	  </div>
	  <div layout="row" layout-align="end center" flex="50">
	  	<md-input-container>
	  	  <label>Per Page</label>
	  	  <select [(ngModel)]="perPage" (ngModelChange)="changePerPage()">
	  	    <option value="10">10 per page</option>
	  	    <option value="25">25 per page</option>
	  	    <option value="50">50 per page</option>
	  	    <option value="100">100 per page</option>
	  	  </select>
	  	</md-input-container>
	  	<md-input-container>
	  	  <label>Sort</label>
	  	  <select [(ngModel)]="sort">
	  	    <option value="updated_at">Updated</option>
	  	    <option value="title">Title</option>
	  	    <option value="category">Category</option>
	  	  </select>
	  	</md-input-container>
	  	<md-input-container>
	  	  <label>Order</label>
	  	  <select [(ngModel)]="descending" (ngModelChange)="order()">
	  	    <option value="0">Ascending</option>
	  	    <option value="1">Descending</option>
	  	  </select>
	  	</md-input-container>
	  </div>
  	</md-toolbar>
  	<md-list layout="column">
  		<md-list-item *ngFor="let blog of blogs; let index = index; let isOdd = odd; let isEven = even" [class.md-3-line]="true" [class.odd]="isOdd" [class.even]="isEven">
	  	    <div class="md-list-item-content md-no-style" layout="row" layout-align="center center" layout-padding>
  				<div class="md-list-text" layout="column">
  				  <h3>{{ blog.title }}</h3>
  				  <h4>{{ blog.category.name }}</h4>
  				  <p>Created</p>
  				</div>
  				<button md-raised-button (click)="edit(blog, $event)" color="primary">Edit</button>
  				<button md-raised-button (click)="delete(blog, $event)" color="danger">Delete</button>
  			</div>
  	    	<md-divider></md-divider>
  		</md-list-item>
  	</md-list>
</md-content>