<md-card>
    <md-card-title-group>
        <md-card-title>
            {{ label }} <span *ngIf="required" class="md-placeholder-required">*</span>
        </md-card-title>
        <jpa-panel-summary
          [expanded]="_expanded"
          [type]="type"
          [value]="value"
          [currentImage]="currentImage"
          [empty]="empty"
          [valueChanged]="_valueChanged"
          [editText]="editText">
        </jpa-panel-summary>
        <button class="toggle" md-icon-button (click)="toggle($event)">
            <md-icon>keyboard_arrow_down</md-icon>
        </button>
    </md-card-title-group>
    <div class="panel-content"
        [hidden]="!expanded"
        [class.panel-content-input]="_isTextfield" [class.panel-content-select]="_isSelect"
        [class.panel-content-textarea]="_isTextarea" [class.panel-content-image]="_isImage">
        <div class="panel-content-top" *ngIf="!_isGallery">
          <div class="panel-content-spacer" [hidden]="(fullWidth || _hasContentLeft) && !(_isImage && empty)"></div>
          <div class="panel-content-left" *ngIf="_hasContentLeft">
            <ng-content select="jpa-panel-content[align=left]"></ng-content>
          </div>
          <div class="panel-control" [class.full-width]="fullWidth">
              <div class="panel-control-table">
                  <div class="panel-control-infix">
                      <input *ngIf="_isTextfield"
                         #input
                         class="panel-control-element text"
                         [class.md-end]="align == 'end'"
                         [attr.autocomplete]="autoComplete"
                         [autofocus]="autoFocus"
                         [disabled]="disabled"
                         [id]="inputId"
                         [attr.max]="max"
                         [attr.maxlength]="maxLength"
                         [attr.min]="min"
                         [attr.minlength]="minLength"
                         [readonly]="readOnly"
                         [required]="required"
                         [spellcheck]="spellCheck"
                         [attr.step]="step"
                         [attr.tabindex]="tabIndex"
                         [attr.name]="name"
                         (focus)="handleFocus($event)"
                         (blur)="handleBlur($event)"
                         [(ngModel)]="value"
                         (change)="handleChange($event)" />

                      <select *ngIf="_isSelect"
                             #select
                             class="panel-control-element select"
                             [class.md-end]="align == 'end'"
                             [autofocus]="autoFocus"
                             [disabled]="disabled"
                             [id]="inputId"
                             [attr.list]="list"
                             [required]="required"
                             [attr.step]="step"
                             [attr.tabindex]="tabIndex"
                             [attr.name]="name"
                             (focus)="handleFocus($event)"
                             (blur)="handleBlur($event)"
                             [(ngModel)]="value"
                             (change)="handleChange($event)">
                          <option value="" selected></option>
                          <ng-content select="option"></ng-content>
                      </select>
                      <textarea *ngIf="_isTextarea"
                          #textarea
                          class="panel-control-element form-control textarea"
                          [class.md-end]="align == 'end'"
                          [autofocus]="autoFocus"
                          [disabled]="disabled"
                          [id]="inputId"
                          [attr.max]="max"
                          [attr.maxlength]="maxLength"
                          [attr.min]="min"
                          [attr.minlength]="minLength"
                          [readonly]="readOnly"
                          [required]="required"
                          [spellcheck]="spellCheck"
                          [attr.step]="step"
                          [attr.tabindex]="tabIndex"
                          [attr.name]="name"
                          (focus)="handleFocus($event)"
                          (blur)="handleBlur($event)"
                          [(ngModel)]="value"
                          (change)="handleChange($event)">
                      </textarea>
                      <input *ngIf="_isImage"
                          #input
                          type="file"
                          accept="image/jpg, image/jpeg, image/png, image/gif"
                          class="panel-control-element image"
                          [class.md-end]="align == 'end'"
                          [autofocus]="autoFocus"
                          [disabled]="disabled"
                          [id]="inputId"
                          [required]="required"
                          [attr.step]="step"
                          [attr.tabindex]="tabIndex"
                          [attr.name]="name"
                          (focus)="handleFocus($event)"
                          (blur)="handleBlur($event)"
                          [(ngModel)]="_secureValue"
                          (change)="handleChange($event)" />
                  </div>
              </div>
              <div class="panel-control-underline" [class.md-disabled]="disabled" [hidden]="_underlineHidden">
                <span class="panel-control-ripple" [class.md-focused]="focused" [class.md-accent]="dividerColor == 'accent'" [class.md-warn]="dividerColor == 'warn'"></span>
              </div>
              <div *ngIf="hintLabel != ''" class="md-hint">{{hintLabel}}</div>
              <ng-content select="md-hint"></ng-content>
          </div>
          <div class="panel-content-right" *ngIf="_hasContentRight">
              <ng-content select="jpa-panel-content[align=right]"></ng-content>
          </div>
          <div class="panel-content-spacer right" [hidden]="fullWidth"></div>
        </div>
        <div class="panel-content-bottom" *ngIf="_hasContentBottom">
          <ng-content *ngIf="!_isGallery" select="jpa-panel-content[align=bottom]"></ng-content>
          <jpa-panel-content *ngIf="_isGallery" align="bottom">
            <jpa-image-upload
                url="/upload/image"
                multiple="true"
                [images]="gallery"
                [name]="name"
                [required]="required"
                [(ngModel)]="value"
                (change)="handleChange($event)"
                (fileAdded)="fileAdded($event)"
                (imageAdded)="imageAdded($event)"
                (imageLoaded)="imageLoaded($event)">
            </jpa-image-upload>
          </jpa-panel-content>
        </div>
    </div>
</md-card>