@import "../../../../assets/sass/variables";

$label_width: 21%;

:host {
    @include basic-transition;
    display: block;

    /**
     * Piggybacking on md-card
     */

    md-card {
        padding: 16px 24px;
        margin: 0;
        font-family: $font-family-sans-serif;

        @include basic-transition;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;

        md-card-title {
            margin-bottom: 0;
            font-size: 16px;
            color: $black;

            @include basic-transition;
            .md-placeholder-required {
                color: $danger;
            }
        }

        md-card-title-group {
            & > div:first-child {
                margin-right: 0;
                width: $label_width;
            }

            .toggle {
                align-self: center;
                margin-left: auto;
                margin-right: 0;
                width: 24px;
                height: 24px;
                line-height: 24px;

                md-icon {
                    color: $black_54;

                    @include basic-transition;
                }
            }
        }

        &:hover {

            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
        }
    }

    /**
     * Panel Content
     */

    .panel-content {
        margin: 0 -8px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 48px 0 14px;
        flex-flow: column;
        flex-direction: column;
        @include basic-transition;

        .panel-content-top,
        .panel-content-bottom {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
        .panel-content-spacer {
            margin: 0;
            width: 25%;
            &.right {
                margin: 0 0 0 auto;
                width: 24px;
            }
        }
        .panel-content-right {
            border-left: 1px solid rgba(0,0,0,.12);
            padding-left: 24px;
            flex: 1;
        }

        &[hidden] {
            display: none;
        }
    }

    /**
     * Focused state
     */

    &.focused {
        .panel-control {
            .md-hint {
                display: block;
            }
        }
    }

    /**
     * Expanded state
     */

    &.expanded {
        .toggle {
            md-icon {
                color: $accent;
                transform: rotateX(180deg);
            }
        }

        md-card-title {
            color: $accent;
        }

        .panel-summary {
            color: $black;
        }
    }

    /**
     * Changed
     */
    &.changed {
        md-card-title {
            color: $accent;
        }

        .panel-summary {
            .summary-text {
                color: $accent;
            }
        }
        &.expanded {
            .panel-summary .summary-text {
                color: $black;
            }
        }
    }


    /**
     * Panel control
     **/

    .panel-control {
        min-width: 25%;
        min-height: 26px;
        margin-left: 0;
        margin-right: auto;
        position: relative;

        .panel-control-table {
            display: inline-table;
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column;
            vertical-align: bottom;
            width: 100%;

            > * {
                display: table-cell;
            }
        }

        .panel-control-element {
            width: 100%;
            &.md-end {
                text-align: right;
            }
        }

        .gallery-control-element {
            display: none;
        }

        .panel-control-infix {
            position: relative;
        }

        .panel-control-underline {
            position: absolute;
            height: 1px;
            width: 100%;
            margin-top: 4px;
            border-top: 1px solid rgba(0, 0, 0, 0.38);

            &.md-disabled {
                border-top: 0;
                background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
                background-position: 0;
                background-size: 4px 1px;
                background-repeat: repeat-x;
            }

            .panel-control-ripple {
                position: absolute;
                height: 2px;
                z-index: 1;
                background-color: #009688;
                top: -1px;
                width: 100%;
                -webkit-transform-origin: top;
                transform-origin: top;
                opacity: 0;
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

                &.md-accent {
                    background-color: #9c27b0;
                }

                &.md-warn {
                    background-color: #f44336;
                }

                &.md-focused {
                    opacity: 1;
                    -webkit-transform: scaleY(1);
                    transform: scaleY(1);
                }
            }
        }

        .md-hint {
            display: none;
            position: absolute;
            font-size: 75%;
            bottom: -1.5em;
            color: $black_54;
            &.md-right {
                right: 0;
            }
        }
    }


    /**
    * Text
    */
    &.text {
        .panel-control-element {
            font: inherit;
            background: transparent;
            border: none;
            outline: none;
            padding: 0;
            width: 100%;
        }
    }

    /**
     * Textarea
     */
    &.textarea {
        .panel-content {
            .panel-content-spacer {
                display: none;
            }
            .panel-control {
                flex: 1;
            }
            .summary-text-wrapper {
                width: 90%;
                .summary-text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }

    /**
     * Select
     */
    &.select {
        .panel-control-element {
            appearance: none;
            -webkit-appearance: none;
            outline: none;
            border: none;
        }
    }

    /**
     * Image
     */
    &.image {
        .panel-content-left {
            min-width: 33%;
            display: none;
        }
        &.changed {
            .panel-control{
                display: none;
            }
            .panel-content-left {
                display: flex;
            }
        }
    }

    /**
     * Images
     */
    &.images {
        .summary-text-wrapper {
            md-icon {
                margin-left: 0px;
                margin-right: 4px;
                vertical-align: text-top;
            }
        }
    }

    /**
     * Multiselect
     */
    &.multiselect {
        [md-icon-button].small {
            vertical-align: middle;
            md-icon {
                vertical-align: top;
            }
        }
        .panel-control {
            margin-right: 32px;
            .panel-control-table {
                .panel-control-infix {
                    .chips {
                        min-height: 28px;
                    }
                }
            }
        }
        .panel-content-spacer {
            width: 21%;
        }
        .panel-content-right {
            max-width: 50%;
            padding-left: 32px;
        }
        .chip-wrapper {
            display: inline-block;
            jpa-chip {
                display: block;
            }
        }
        .chips {
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            .add {
                position: relative;
                right: -20px;
            }
        }

        &.division {
            button.add {
                display: none;
            }
        }
    }
}