<md-card>
    <md-card-title-group>
        <md-card-title>
            {{ label }} <span *ngIf="required" class="md-placeholder-required">*</span>
        </md-card-title>
        <div class="panel-summary">
            <div class="summary-text-wrapper" [hidden]="_expanded">
                <span class="summary-text textfield" *ngIf="!_isImage && !_isGallery">
                    {{ summary | slice:0:50 }}
                    <span class="summary-ellipsis" *ngIf="summary.length > 50">...</span>
                </span>
                <span class="summary-text imagefield" *ngIf="_isImage" [innerHTML]="summary"></span>
                <span class="summary-text gallery" *ngIf="_isGallery">
                  <div class="count">
                    <md-icon color="primary">panorama</md-icon>&nbsp;&nbsp;{{ gallery?.length - value?.length }} pictures in gallery <span *ngIf="value" class="new"> + {{value.length}} new</span>
                  </div>
                </span>
            </div>
            <div class="summary-text-wrapper" [hidden]="!_expanded">
              <span class="summary-text edit-text">{{ editText }} <md-icon class="md-20">help_outline</md-icon></span>
            </div>
            <div class="summary-image" *ngIf="_isImage && currentImage && !_valueChanged" [hidden]="_expanded">
                <span [hidden]="_imageLoaded">Loading...<md-icon class="spin">update</md-icon></span>
                <img [src]="currentImage" class="image-preview" #imagePreview />
            </div>
        </div>
        <button class="toggle" md-icon-button (click)="toggle($event)">
            <md-icon>keyboard_arrow_down</md-icon>
        </button>
    </md-card-title-group>
    <div class="panel-content"
        [class.panel-content-input]="_isTextfield" [class.panel-content-select]="_isSelect"
        [class.panel-content-textarea]="_isTextarea" [class.panel-content-image]="_isImage">
        <div class="panel-content-top">
          <div class="panel-content-spacer" [hidden]="fullWidth"></div>
          <div class="panel-control" [class.full-width]="fullWidth">
              <div class="panel-control-table">
                  <div class="panel-control-infix">
                      <input *ngIf="_isTextfield"
                         #input
                         aria-target
                         class="panel-control-element text"
                         [class.md-end]="align == 'end'"
                         [attr.aria-label]="ariaLabel"
                         [attr.aria-labelledby]="ariaLabelledBy"
                         [attr.aria-disabled]="ariaDisabled"
                         [attr.aria-required]="ariaRequired"
                         [attr.aria-invalid]="ariaInvalid"
                         [attr.autocomplete]="autoComplete"
                         [autofocus]="autoFocus"
                         [disabled]="disabled"
                         [id]="inputId"
                         [attr.max]="max"
                         [attr.maxlength]="maxLength"
                         [attr.min]="min"
                         [attr.minlength]="minLength"
                         [readonly]="readOnly"
                         [required]="required"
                         [spellcheck]="spellCheck"
                         [attr.step]="step"
                         [attr.tabindex]="tabIndex"
                         [attr.name]="name"
                         (focus)="handleFocus($event)"
                         (blur)="handleBlur($event)"
                         [(ngModel)]="value"
                         (change)="handleChange($event)" />

                      <select *ngIf="_isSelect"
                             #select
                             aria-target
                             class="panel-control-element select"
                             [class.md-end]="align == 'end'"
                             [attr.aria-label]="ariaLabel"
                             [attr.aria-labelledby]="ariaLabelledBy"
                             [attr.aria-disabled]="ariaDisabled"
                             [attr.aria-required]="ariaRequired"
                             [attr.aria-invalid]="ariaInvalid"
                             [autofocus]="autoFocus"
                             [disabled]="disabled"
                             [id]="inputId"
                             [attr.list]="list"
                             [required]="required"
                             [attr.step]="step"
                             [attr.tabindex]="tabIndex"
                             [attr.name]="name"
                             (focus)="handleFocus($event)"
                             (blur)="handleBlur($event)"
                             [(ngModel)]="value"
                             (change)="handleChange($event)">
                          <ng-content select="option"></ng-content>
                      </select>
                      <textarea *ngIf="_isTextarea"
                          #textarea
                          aria-target
                          class="panel-control-element form-control textarea"
                          [class.md-end]="align == 'end'"
                          [attr.aria-label]="ariaLabel"
                          [attr.aria-labelledby]="ariaLabelledBy"
                          [attr.aria-disabled]="ariaDisabled"
                          [attr.aria-required]="ariaRequired"
                          [attr.aria-invalid]="ariaInvalid"
                          [attr.autocomplete]="autoComplete"
                          [autofocus]="autoFocus"
                          [disabled]="disabled"
                          [id]="inputId"
                          [attr.max]="max"
                          [attr.maxlength]="maxLength"
                          [attr.min]="min"
                          [attr.minlength]="minLength"
                          [readonly]="readOnly"
                          [required]="required"
                          [spellcheck]="spellCheck"
                          [attr.step]="step"
                          [attr.tabindex]="tabIndex"
                          [attr.name]="name"
                          (focus)="handleFocus($event)"
                          (blur)="handleBlur($event)"
                          [(ngModel)]="value"
                          (change)="handleChange($event)">
                      </textarea>
                      <input *ngIf="_isImage"
                          #input
                          type="file"
                          accept="image/jpg, image/jpeg, image/png, image/gif"
                          aria-target
                          class="panel-control-element image"
                          [class.md-end]="align == 'end'"
                          [attr.aria-label]="ariaLabel"
                          [attr.aria-labelledby]="ariaLabelledBy"
                          [attr.aria-disabled]="ariaDisabled"
                          [attr.aria-required]="ariaRequired"
                          [attr.aria-invalid]="ariaInvalid"
                          [autofocus]="autoFocus"
                          [disabled]="disabled"
                          [id]="inputId"
                          [required]="required"
                          [attr.step]="step"
                          [attr.tabindex]="tabIndex"
                          [attr.name]="name"
                          (focus)="handleFocus($event)"
                          (blur)="handleBlur($event)"
                          [(ngModel)]="value"
                          (change)="handleChange($event)" />
                  </div>
              </div>
              <div class="panel-control-underline" [class.md-disabled]="disabled" [hidden]="_underlineHidden">
                <span class="panel-control-ripple" [class.md-focused]="focused" [class.md-accent]="dividerColor == 'accent'" [class.md-warn]="dividerColor == 'warn'"></span>
              </div>
              <div *ngIf="hintLabel != ''" class="md-hint">{{hintLabel}}</div>
              <ng-content select="md-hint"></ng-content>
          </div>
          <div class="panel-content-right" *ngIf="_hasContentRight">
              <ng-content select="jpa-panel-content.right"></ng-content>
          </div>
          <div class="panel-content-spacer-end" [hidden]="fullWidth"></div>
        </div>
        <div class="panel-content-bottom" *ngIf="_hasContentBottom">
          <ng-content *ngIf="!_isGallery" select="jpa-panel-content.bottom"></ng-content>
          <jpa-panel-content *ngIf="_isGallery" class="bottom">
<!--             <div
              #filedrop
              class="well file-drop-zone"
              [class.nv-file-over]="hasBaseDropZoneOver"
              (dragOver)="fileOverBase($event)"
              (dragLeave)="fileOffBase($event)"
              (drop)="onFileDrop($event)">
              <md-grid-list cols="4" rowHeight="16:9">
                 <md-grid-tile *ngFor="let image of gallery" flex="25"><img [src]="image.image_url" /></md-grid-tile>
                 <md-grid-tile *ngIf="gallery.length % 4 !== 1" flex="25"></md-grid-tile>
              </md-grid-list>
            </div> -->
            <jpa-file-upload multiple="true" [images]="gallery" [name]="name" [required]="required" [(ngModel)]="value" (change)="handleChange($event)" (gridImageLoaded)="imageUploadLoaded($event)"></jpa-file-upload>
          </jpa-panel-content>
        </div>
    </div>
</md-card>