/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Animations & Transitions
 */
/**
 * Transition mixins
 */
:host {
  transition: all 250ms cubic-bezier(0.75, 0.17, 0.59, 1.09);
  display: block;
  /**
     * Piggybacking on md-card
     */
  /**
     * Panel Content
     */
  /**
     * Focused state
     */
  /**
     * Expanded state
     */
  /**
     * Panel control
     **/ }
  :host md-card {
    padding: 16px 24px;
    margin: 0;
    font-family: "Lato", sans-serif;
    transition: all 250ms cubic-bezier(0.75, 0.17, 0.59, 1.09);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none; }
    :host md-card md-card-title {
      margin-bottom: 0;
      font-size: 16px;
      color: #000;
      transition: all 250ms cubic-bezier(0.75, 0.17, 0.59, 1.09); }
      :host md-card md-card-title .md-placeholder-required {
        color: #b71c1c; }
    :host md-card md-card-title-group > div:first-child {
      margin-right: 0;
      width: 25%; }
    :host md-card md-card-title-group .toggle {
      -ms-flex-item-align: center;
      align-self: center;
      margin-left: auto;
      margin-right: 0;
      width: 24px;
      height: 24px;
      line-height: 24px; }
      :host md-card md-card-title-group .toggle md-icon {
        color: rgba(0, 0, 0, 0.54);
        transition: all 250ms cubic-bezier(0.75, 0.17, 0.59, 1.09); }
  :host .panel-content {
    height: 0;
    overflow: hidden;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: all 250ms cubic-bezier(0.75, 0.17, 0.59, 1.09);
    margin: 0 -8px; }
    :host .panel-content .panel-content-top,
    :host .panel-content .panel-content-bottom {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    :host .panel-content .panel-content-spacer {
      margin: 0;
      width: 25%; }
    :host .panel-content .panel-content-spacer-end {
      margin: 0 0 0 auto;
      width: 24px; }
    :host .panel-content.panel-content-textarea .panel-content-spacer,
    :host .panel-content.panel-content-textarea .panel-content-spacer-end {
      display: none; }
    :host .panel-content.panel-content-textarea .panel-control {
      -ms-flex: 1;
      flex: 1; }
  :host.focused .panel-control .md-hint {
    display: block; }
  :host.expanded .toggle md-icon {
    color: #1976d2;
    transform: rotateX(180deg); }
  :host.expanded md-card-title {
    color: #1976d2; }
  :host.expanded .panel-summary {
    color: #000; }
  :host.expanded .panel-content {
    height: auto;
    padding: 40px 0 24px; }
  :host.changed md-card-title {
    color: #1976d2; }
  :host.changed .panel-summary .summary-text {
    color: #1976d2; }
  :host.expanded.changed .panel-summary .summary-text {
    color: #000; }
  :host .panel-control {
    min-width: 25%;
    min-height: 26px;
    margin-left: 0;
    margin-right: auto;
    position: relative; }
    :host .panel-control .panel-control-table {
      display: inline-table;
      -ms-flex-flow: column;
      flex-flow: column;
      vertical-align: bottom;
      width: 100%; }
      :host .panel-control .panel-control-table > * {
        display: table-cell; }
    :host .panel-control .panel-control-element {
      width: 100%; }
      :host .panel-control .panel-control-element.md-end {
        text-align: right; }
    :host .panel-control input.panel-control-element {
      font: inherit;
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      width: 100%; }
    :host .panel-control select.panel-control-element {
      -moz-appearance: none;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      border: none; }
    :host .panel-control .gallery-control-element {
      display: none; }
    :host .panel-control .panel-control-infix {
      position: relative; }
    :host .panel-control .panel-control-underline {
      position: absolute;
      height: 1px;
      width: 100%;
      margin-top: 4px;
      border-top: 1px solid rgba(0, 0, 0, 0.38); }
      :host .panel-control .panel-control-underline.md-disabled {
        border-top: 0;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
        background-position: 0;
        background-size: 4px 1px;
        background-repeat: repeat-x; }
      :host .panel-control .panel-control-underline .panel-control-ripple {
        position: absolute;
        height: 2px;
        z-index: 1;
        background-color: #009688;
        top: -1px;
        width: 100%;
        transform-origin: top;
        opacity: 0;
        transform: scaleY(0);
        transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
        :host .panel-control .panel-control-underline .panel-control-ripple.md-accent {
          background-color: #9c27b0; }
        :host .panel-control .panel-control-underline .panel-control-ripple.md-warn {
          background-color: #f44336; }
        :host .panel-control .panel-control-underline .panel-control-ripple.md-focused {
          opacity: 1;
          transform: scaleY(1); }
    :host .panel-control .md-hint {
      display: none;
      position: absolute;
      font-size: 75%;
      bottom: -1.5em;
      color: rgba(0, 0, 0, 0.54); }
      :host .panel-control .md-hint.md-right {
        right: 0; }
  :host .panel-content-right {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 24px; }

/*# sourceMappingURL=panel.component.css.map */
