@import "../../../../../assets/sass/variables";

:host {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;

    jpa-panel2-bar-title {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
        width: 25%;
        cursor: pointer;
        @include basic-transition;
    }

    jpa-panel2-bar-subtitle {
        color: $black_54;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        font-size: 16px;
        justify-content: space-between;
        margin-left: 0;
        margin-right: auto;
        width: 75%;
        @include basic-transition;
    }
}