<md-toolbar layout="row" layout-padding class="list-toolbar">
    <h2 class="list-title">Divisions</h2>
    <!-- <button md-icon-button (click)="add($event)" class="menu-btn" jpaTooltip tooltip="Create"><md-icon>add</md-icon></button> -->
</md-toolbar>
<md-grid-list cols="3" rowHeight="150px" gutterSize="8px">
    <md-grid-tile *ngFor="let division of divisions" class="with-actions" [class.has-background]="division.image_id">
        <div class="background" *ngIf="division.image_id" [style.background-image]="'url(' + division.image.url + ')'"></div>
        <div class="actions">
            <jpa-context-menu #menu>
                <jpa-context-menu-item>
                      <button md-button (click)="edit(division)"><md-icon>mode_edit</md-icon>Edit</button>
                </jpa-context-menu-item>
<!--                 <jpa-context-menu-item>
                    <button md-button (click)="remove(division)"><md-icon>delete</md-icon>Delete</button>
                </jpa-context-menu-item> -->
            </jpa-context-menu>
            <button class="item-actions" md-icon-button jpaTooltip tooltip="Manage" (click)="menu.open($event)"><md-icon>more_vert</md-icon></button> 
        </div>
        <h2 class="division-name">{{ division.name | capitalize }}</h2>
        <span class="filler"></span>
        <div class="division-info flex-row">
            <p><md-icon class="md-18">speaker_notes</md-icon><span class="count">{{ division.blogs }}</span></p>
            <p><md-icon class="md-18">work</md-icon><span class="count">{{ division.projects }}</span></p>
        </div>
    </md-grid-tile>
</md-grid-list>