:host {
    .jpa-panel {
        &.ng-dirty {
            jpa-panel2-bar-title,
            jpa-panel2-bar-subtitle {
                color: $accent;
            }

            &.ng-invalid {
                jpa-panel2-bar-title,
                jpa-panel2-bar-subtitle {
                    color: $danger;
                }
            }
        }

        &.type-textarea {
            .textarea-infix {
                width: 100%;
            }
        }
        &.type-files {
            jpa-file-upload {
                width: 100%;
            }
            jpa-panel2-content {
                padding-top: 36px;
                .panel-content-spacer {
                    display: none;
                }
            }

            jpa-panel2-form-control-summary {
                display: flex;
                .subtitle-text { order: 2; }
                md-icon { order: 1; margin-right: 4px; }
            }
        }

        &.type-textarea {
            jpa-panel2-content:not(.single-file) {
                .panel-content-spacer {
                    display: none;
                }
            }
        }
        &.type-text {
            md-input {
                max-width: 25%;
                flex: 1 1 auto;
            }
        }
        &.type-dnd {
            .panel-content-spacer {
                display: none;
            }
        }

        jpa-panel2-content {
            display: flex;
            flex-direction: row;
            .panel-content-spacer {
                width: 24.5%;
            }
        }

        span.required {
            color: $danger;
        }
    }

    .psuedo-md-input-wrapper {
        min-width: 25%;
        min-height: 26px;
        margin-left: 0;
        margin-right: auto;
        position: relative;
        .psuedo-md-input-table {
            display: inline-table;
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column;
            vertical-align: bottom;
            width: 100%;

            > * {
                display: table-cell;
            }
        }
        .psuedo-md-input-infix {
            position: relative;
            select {
                width: 100%;
                -moz-appearance: none;
                appearance: none;
                -webkit-appearance: none;
                outline: none;
                border: none;
                background: transparent;
            }
        }
        .psuedo-md-input-underline {
            position: absolute;
            height: 1px;
            width: 100%;
            margin-top: 4px;
            border-top: 1px solid rgba(0, 0, 0, 0.38);

            &.md-disabled {
                border-top: 0;
                background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
                background-position: 0;
                background-size: 4px 1px;
                background-repeat: repeat-x;
            }

            .psuedo-md-input-ripple {
                position: absolute;
                height: 2px;
                z-index: 1;
                background-color: #009688;
                top: -1px;
                width: 100%;
                -webkit-transform-origin: top;
                transform-origin: top;
                opacity: 0;
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

                &.md-accent {
                    background-color: #9c27b0;
                }

                &.md-warn {
                    background-color: #f44336;
                }

                &.md-focused {
                    opacity: 1;
                    -webkit-transform: scaleY(1);
                    transform: scaleY(1);
                }
            }
        }
    }

    .panel-form-actions {
        margin-top: 24px;
        text-align: right;
    }
}