<md-toolbar layout="row" layout-padding>
  <div layout="row" layout-align="start center" flex="50">
    <h2 class="list-title">{{ listTitle }}</h2>
    <h4 class="list-info">Showing {{ listConfig.page.from }} - {{ listConfig.page.to }} of {{ listConfig.page.total }}</h4>
  </div>
  <div layout="row" layout-align="end center" flex="50" class="sorts">
    <md-input-container>
      <label>Per Page</label>
      <select [(ngModel)]="listConfig.page.perPage" (ngModelChange)="fetch()">
        <option *ngFor="let option of listConfig.perPageOptions" [value]="option">{{ option }}</option>
      </select>
    </md-input-container>
    <md-input-container>
      <label>Sort</label>
      <select [(ngModel)]="listConfig.sort.by" (ngModelChange)="fetch()">
        <option *ngFor="let option of listConfig.sortOptions" [value]="option.value">{{ option.name }}</option>
      </select>
    </md-input-container>
    <md-input-container>
      <label>Order</label>
      <select [(ngModel)]="listConfig.sort.descending" (ngModelChange)="fetch()">
        <option value="false">Ascending</option>
        <option value="true">Descending</option>
      </select>
    </md-input-container>
  </div>
</md-toolbar>
<md-list layout="column">
    <md-list-item *ngFor="let line of listData; let index = index; let isOdd = odd; let isEven = even" [class.md-3-line]="true" [class.odd]="isOdd" [class.even]="isEven">
        <div class="md-list-item-content md-no-style" layout="row" layout-align="center center" layout-padding>
            <div class="item-text" layout="column" flex="70">
              <h3 md-line>{{ line.title }}</h3>
              <h4 md-line>{{ line.subtitle }}</h4>
              <p md-line>Last updated {{ line.dates.updated_at | amTimeAgo }} | Created {{ line.dates.created_at | amCalendar }}</p>
            </div>
            <div class="actions" layout="row" flex="30" layout-align="end center">
              <button md-fab color="primary" (click)="edit(line, $event)">
                  <md-icon class="md-24">edit</md-icon>
              </button>
              <button md-fab color="accent" (click)="delete(line, $event)">
                  <md-icon class="md-24">delete</md-icon>
              </button>
            </div>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>